<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <h1>Hello from about page</h1>
    <a href="/download">Download</a>
  </body>
</html>
